{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "max-len": ["error", 100, 2],
  "useTabs": false
}
