@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

.btn {
  background: #75928d;
  padding: 1px 5px;
  cursor: pointer;
  border-radius: 7px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: goldenrod;
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;

  @media (max-width: 768px) {
    font-size: 6px;
    padding: 1px 2px;
  }

  @media (max-width: 480px) {
    font-size: 6px;
    padding: 1px 2px;
  }
}

.btn:hover {
  opacity: 0.6;
}

.text {
  font-size: 7px;
  text-align: center;
  max-height: 5px;
  list-style: none;

  @media (max-width: 768px) {
    font-size: 6px;
  }

  @media (max-width: 480px) {
    font-size: 7px;
  }
  @media (max-width: 320px) {
    font-size: 6px;
  }
  @media (max-width: 280px) {
    font-size: 7px;
  }
}
